<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-inverse" th:fragment="naviLogged">
    <div class="container">
        <div class="navbar-header">
            <a class="header-link" href="/"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="sk"><a href="/" class="nav navbar-nav">Wyloguj</a></li>
                <li class="sk"><a href="/" class="nav navbar-nav">Mój profil</a></li>
                <li class="sk"><a href="/" class="nav navbar-nav">Sprawdź rozkład jazdy wg dworca</a></li>
                <li class="sk"><a href="/" class="nav navbar-nav">Wyszukaj połączenie</a></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>